<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css"> 
    </head>
    <body>
        <p>Hello ! jdiozajdiozajd</p>
        <a href="/exemple">lien vers une page exemple</a>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>